In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
df = pd.read_csv('data/Surface_Drinking_Water_Importance__Feature_Layer_.csv')
us_geo = gpd.read_file('images/us_geo.json')

In [2]:
def huc_area(df, lower_lim, upper_lim, col_name='IMP1'): # -> dataframe, int, int, str
    #defines an region with the hydrologic unit code
    #returns a DataFrame with that area
    df_state = df[(df['HUC_12'] >= lower_lim*100000000) & (df['HUC_12'] < upper_lim*100000000)]
    return df_state[(df_state[col_name] > 0) & (df_state[col_name] > 0.0)]

def pop_total(huc_df):  # -> dataframe from huc_area()
    #returns a population served with the defined region of HUC's
    return huc_df[huc_df['POPSERVED']>0]
    
def q_model(huc_df): #->dataframe from huc_area()
    return df[df['Q_MODEL']>0]
test=huc_area(df, 100, 200, 'IMP1')

In [3]:
# sum the threaten rows of fire, development and insect/disease 
df['threats_per'] = df['INS_FOR3'] + df['DEV_FOR3'] + df['FIR_FOR3']
threats = df[df['threats_per'] > 0.0]
threat_100_pop = df[(df['threats_per'] >= 100.0) & (df['POPSERVED'] > 0) & (df['POPSERVED'] > 0.0)] #85
threat_100 = df[(df['threats_per'] >= 100.0)] #432

threat_150_pop = df[(df['threats_per'] >= 150.0) & (df['POPSERVED'] > 0.0) & df['POPSERVED'] > 0] # 2
threat_150 = df[(df['threats_per'] >= 150.0)] #27
#to see how many areas need priory for remedy

threat_75_pop = df[(df['threats_per'] >= 75.0) & (df['threats_per'] < 100.0) & df['POPSERVED'] > 0] #50
threat_75 = df[(df['threats_per'] >= 75.0) & (df['threats_per'] < 100.0)] #1070

threat_50to75 = df[(df['threats_per'] >= 50.0) & (df['threats_per'] < 75.0)] #3446
threat_50to75_pop = df[(df['threats_per'] >= 50.0) & (df['threats_per'] < 75.0) & df['POPSERVED'] > 0]#137
threat_50to75_pop
df.head()
#starts with 101 (11 digits) 10100081107
#ends with 190 (12 digits) 190605030907

regions = {100: 'New England', 200: 'Mid-Atlantic', 300: 'South Atlantic-Gulf',400: 'Great Lakes', 500: 'Ohio', 6: 'Tennessee', 700: 'Upper Mississippi', 800: 'Lower Mississippi', 900: 'Souris-Red-Rainy', 1000: 'Missouri', 1100: 'Arkansas-White-Red', 1200: 'Texas-Gulf', 1300: 'Rio Grande', 1400: 'Upper Colorado', 1500: 'Lower Colorado', 1600: 'Great Basin', 1700: 'Pacific Northwest', 1800: 'California', 1900: 'Alaska'}
huc_area(df, 100, 200, 'IMP1')

,HUC_12,HU_12_NAME,IMP1,IN_FOR2,IN_PRONF2,IN_NFS2,IN_PRI2,INS_FOR3,DEV_FOR3,FIR_FOR3,...,PER_NFS2,PER_PRI2,PER_INSEC3,PER_DEV3,PER_FIRE3,OBJECTID,POPSERVED,SHAPEAREA,SHAPELEN,threats_per
0,10100081107,Patrick Brook-St. John River,69,42.09,0.00,0.0,42.09,0.00000,3.84282,0.00000,...,0,61,0.00,9.13,0.00,200641,0,0.017499,1.022829,3.84282
1,10100081108,Gagnon Brook-St. John River,71,40.47,0.00,0.0,40.47,0.00000,2.27441,0.00000,...,0,57,0.00,5.62,0.00,200642,2840,0.014860,0.773298,2.27441
8,10100020101,Smith Brook,47,38.54,16.45,0.0,22.09,0.00000,0.00000,23.20493,...,0,47,0.00,0.00,60.21,200649,0,0.008125,0.597289,23.20493
9,10100020102,Russell Brook,47,40.89,21.62,0.0,19.27,0.32303,0.00000,8.47241,...,0,41,0.79,0.00,20.72,200650,0,0.009494,0.569315,8.79544
10,10100020103,Soper Brook,47,38.07,33.84,0.0,4.23,0.62434,0.00000,12.46412,...,0,9,1.64,0.00,32.74,200651,0,0.008779,0.692056,13.08846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2007,11000060401,Rippowam River,97,58.20,0.97,0.0,57.23,6.57660,2.63646,0.00000,...,0,59,11.30,4.53,0.00,202648,105462,0.010405,0.903921,9.21306
2008,11000060402,Mianus River,88,61.60,6.16,0.0,55.44,12.73888,5.10048,0.00000,...,0,63,20.68,8.28,0.00,202649,17034,0.009667,0.798216,17.83936
2009,11000060403,Byram River,87,50.46,6.09,0.0,43.50,22.51525,5.76758,0.00000,...,0,50,44.62,11.43,0.00,202650,15278,0.008317,0.658318,28.28283
2010,11000060404,Fivemile River,82,19.68,0.82,0.0,18.86,8.81861,0.42312,0.00000,...,0,23,44.81,2.15,0.00,202651,8400,0.011594,1.238479,9.24173
2011,11000060405,Blind Brook-Horseneck Brook,87,26.97,1.74,0.0,26.10,16.87513,2.85612,0.00000,...,0,30,62.57,10.59,0.00,202652,17034,0.010149,1.604206,19.73125

In [4]:
#what's the difference between the importance level and the importance level for the population? 
#Also, how does the forest in these areas with the population served affected by the threats?

In [5]:
def pop_served_graphs_upper_lower(mid_lim, name_label, pop, huc_area): 
    #range of ints to set the graphs for starting - iterate over HUC's in the data. 
    fig, ax = plt.subplots(1, 4, sharey='row', figsize=(15, 10))
    df_imp0 = huc_area.loc[huc_area['HUC_12'] < mid_lim*100000000,'IMP1']
    df_lower = huc_area.loc[huc_area['HUC_12'] < mid_lim*100000000, 'HUC_12']
    df_imp1 = huc_area.loc[huc_area['HUC_12'] >= mid_lim*100000000,'IMP1']
    df_upper = huc_area.loc[huc_area['HUC_12'] >= mid_lim*100000000, 'HUC_12']
    ax[0].scatter(df_lower, df_imp0)
    ax[1].scatter(df_upper, df_imp1)
    ax[0].set_title('Water Level Importance: Lower', size=14)
    ax[1].set_title('Water Level Imporatnce: Upper', size=14)
    ax[0].set_ylabel('Level of Importance', size=14)
    mean = df_imp0 = huc_area.loc[huc_area['HUC_12'] < mid_lim*100000000,'IMP1'].mean()
    mean1 = df_imp0 = huc_area.loc[huc_area['HUC_12'] > mid_lim*100000000,'IMP1'].mean()
    ax[0].axhline(mean)
    ax[1].axhline(mean1)


    df_pop0 = pop.loc[pop['HUC_12'] < mid_lim*100000000,'IMP1']
    df_lower_pop = pop.loc[pop['HUC_12'] < mid_lim*100000000, 'HUC_12']
    df_pop1 = pop.loc[pop['HUC_12'] >= mid_lim*100000000,'IMP1']
    df_upper_pop = pop.loc[pop['HUC_12'] >= mid_lim*100000000, 'HUC_12']
    ax[2].scatter(df_lower_pop, df_pop0, color='green')
    ax[3].scatter(df_upper_pop, df_pop1, color='green')
    ax[2].set_title('Population Served: Lower', size=14, color='green')
    ax[3].set_title('Population Served: Upper', size=14, color='green')
    ax[2].set_ylabel('Level of High Importance for Population', size=14, color='green')
    pop_mean = pop.loc[pop['HUC_12'] < mid_lim*100000000,'IMP1'].mean()
    pop_mean1 = pop.loc[pop['HUC_12'] > mid_lim*100000000,'IMP1'].mean()
    ax[2].axhline(pop_mean)
    ax[3].axhline(pop_mean1)
    ax.axhline(q_model(huc_area()))
    plt.suptitle(name_label, size=16)
    plt.tight_layout()
    ax

In [6]:
huc_miss_riv = huc_area(df, 700, 900, 'IMP1')
miss_riv_pop = pop_total(df, 700, 900)
pop_served_graphs_upper_lower(800, 'Mississippi River', miss_riv_pop, huc_miss_riv)

TypeError: pop_total() takes 1 positional argument but 3 were given

In [ ]:
def pop_served_graphs_reg(name_label, pop, huc_area): 
    #range of ints to set the graphs for starting - iterate over HUC's in the data. 
    fig, ax = plt.subplots(1, 2, sharey='row', figsize=(15, 10))
    df_imp0 = huc_area['IMP1']
    df_lower = huc_area['HUC_12']
    ax[0].scatter(df_lower, df_imp0)
    ax[0].set_title('Water Level Importance', size=14)
    ax[0].set_ylabel('Level of Importance', size=14)
    mean = df_imp0 = huc_area['IMP1'].mean()
    ax[0].axhline(mean)
  


    df_pop0 = pop['IMP1']
    df_lower_pop = pop['HUC_12']
    ax[1].scatter(df_lower_pop, df_pop0, color='green')
    ax[1].set_title('Population Served', size=14, color='green')
    ax[1].set_ylabel('Level of High Importance for Population', size=14, color='green')
    pop_mean = pop['IMP1'].mean()
    ax[1].axhline(pop_mean)
    plt.suptitle(name_label, size=16)
    plt.tight_layout()
    ax

In [ ]:
huc_satl_gulf = huc_area(df, 300, 400, 'IMP1')
satl_gulf_pop = pop_total(huc_satl_gulf, 300, 400)
pop_served_graphs_reg('South Atlantic/Gulf Region', satl_gulf_pop, huc_satl_gulf)

In [ ]:
'''fig, ax = plt.subplots(1, 4, sharey='row', figsize=(15, 10))
df_imp0 = df_co.loc[df_co['HUC_12'] < 150000000000,'IMP1']
df_lower = df_co.loc[df_co['HUC_12'] < 150000000000, 'HUC_12']
df_imp1 = df_co.loc[df_co['HUC_12'] >= 150000000000,'IMP1']
df_upper = df_co.loc[df_co['HUC_12'] >= 150000000000, 'HUC_12']
ax[0].scatter(df_lower, df_imp0)
ax[1].scatter(df_upper, df_imp1)
ax[0].set_title('Water Level Importance: Lower', size=14)
ax[1].set_title('Water Level Imporatnce: Upper', size=14)
ax[0].set_ylabel('Level of Importance', size=14)
co_mean = df_imp0 = df_co.loc[df_co['HUC_12'] < 150000000000,'IMP1'].mean()
co_mean1 = df_imp0 = df_co.loc[df_co['HUC_12'] > 150000000000,'IMP1'].mean()
ax[0].axhline(co_mean)
ax[1].axhline(co_mean1)


df_pop0 = pop.loc[pop['HUC_12'] < 150000000000,'IMP1']
df_lower_pop = pop.loc[pop['HUC_12'] < 150000000000, 'HUC_12']
df_pop1 = pop.loc[pop['HUC_12'] >= 150000000000,'IMP1']
df_upper_pop = pop.loc[pop['HUC_12'] >= 150000000000, 'HUC_12']
ax[2].scatter(df_lower_pop, df_pop0, color='green')
ax[3].scatter(df_upper_pop, df_pop1, color='green')
ax[2].set_title('Population Served: Lower', size=14, color='green')
ax[3].set_title('Population Served: Upper', size=14, color='green')
ax[2].set_ylabel('Level of High Importance for Population', size=14, color='green')
pop_mean = pop.loc[pop['HUC_12'] < 150000000000,'IMP1'].mean()
pop_mean1 = pop.loc[pop['HUC_12'] > 150000000000,'IMP1'].mean()
ax[2].axhline(pop_mean)
ax[3].axhline(pop_mean1)
plt.suptitle('Colorado River', size=16)
plt.tight_layout()

'''